:root {
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 3rem;
} 

h1, h2 {
  margin: 0;
}

/* .meme-container:hover .meme-img{
  width: 15vw;
  height: 15vw;
}

.meme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.meme-header {
  display: flex;
  align-items: center;
}

.meme-title {
  font-size: 2em;
}

.meme-img {
  width: 0;
  height: 0;
  transition: 0.5s;
} */

/*TEST*/
.meme-title {
  font-size: 2em;
  font-weight: 800;
}

.meme-container {

}

.meme-container:hover .meme-img {
  width: 30vw;
  height: 30vw;
  transition: 0.5s;
}

.meme-container:has(#check-meme:checked) .meme-img {
  width: 30vw;
  height: 30vw;
}

.meme-label {
  display: grid; 
  grid-template-columns: auto 10%;
  grid-template-areas: "meme-text meme-icon"
                       "meme-img  meme-img";

}

.meme-label:has(#check-meme:checked) > .meme-icon {
  transform: rotate(45deg);
  transition: 0.2s;
}

.meme-checkbox {
  display: none;
}

.meme-title {
  grid-area: meme-text;
  justify-self: center;
  align-self: center;
  margin: 0;
}

.meme-icon {
  grid-area: meme-icon;
  justify-self: end;
  transition: 0.2s;
}

.meme-img {
  grid-area: meme-img;
  justify-self: center;
  width: 0;
  height: 0;
}